PORT=3333
NODE_ENV='development'

DATABASE_URL='postgresql://docker:docker@localhost:5432/hemoconnect'

JWT_SECRET=''
SESSION_DURATION='7d'
WEB_ORIGIN='http://localhost:5173'

SEED_ADMIN_NAME='Administrador'
SEED_ADMIN_EMAIL='admin@hemoconnect.dev'
SEED_ADMIN_PASSWORD=

REDIS_URL='redis://localhost:6379'
